*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f2ee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    height: 60px;
    z-index: 1;
}

.container{ 
width: 80%;
/* background-color: brown; */

margin: auto;
height: 100%;
display: flex;
justify-content: space-between;
}

.searchlogo img{
    height: 50px;
}

.searchlogo input{
    padding: 10px 70px;
    border: none;
    outline: none;
    background: none;
}
.search{
    background-color: #edf3f8;
    align-items: center;
    position: relative;
}

.input_dropdown{
    position: absolute;
    background-color: rgb(242, 242, 242);
    width: 310px;
    display: none;
    left: 0;
    top: 30px;
    border-radius: 5px;
    border: 1px solid whitesmoke;
}

.search:focus-within .input_dropdown{
    display: initial;
}

.input_dropdown .text{
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.input_dropdown p:hover{
    background-color: grey;
}

.input_dropdown #history{
    font-size: 12px;
}

.input_dropdown p{
    padding: 5px 0px;
}

.search:focus-within{
    text-align: left;
}

.search span{
    font-size: 20px;
    color: grey;
}
.searchlogo{
    align-items: center;
    /* background-color: green; */
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: left;
}

.icon{
    /* background-color: blueviolet; */
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.iconlist{
    align-items: center;
    text-align: center;
    width: 70px;
    height: fit-content;
    margin-top: 10px;
    /* background-color: red; */
}

.iconlist p{
    font-size: 12px;
    font-weight: 400;
}

.icon1{
    width: 68%;
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
}

.icon2{
    /* background-color: chocolate; */
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.icon2 > .iconlist{
    width: 95px;
}

.iconlist .ads{
    font-size: 12px;
    font-weight: 400;
}

.iconlist .ads a{
    color: #915906;
}

.iconlist a:hover{
    color: black;
    cursor: pointer;
}

.iconlist a{
    text-decoration: none;
    color: #666666;
}

/* end of navbar */

.pagecontainer{
    background-color: #f4f2ee;
    width: 100%;
    height: 100vh;
    margin-top: 20px;
    position: relative;
}

.pagecontents{
    width: 80%;
    background: #f4f2ee;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
}

.leftside{
    height: 70vh;
    width: 20%;
    background-color: red;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f4f2ee;
}

.middleside{
    height: 200vh;
    width: 45%;
    background-color: #f4f2ee ;
}

.rightside{
    height: 100vh;
    width: 30%;
    background-color: #f4f2ee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topleft{
    height: 65%;
    width: 100%;
    background-color: blue;
}

.downleft{
    height: 30%;
    width: 100%;
    background-color: blue;
}

.firstmiddle{
    height: 50vh;
    width: 100%;
    background-color: white;
    border: 1px solid lightgray;
}

.topright{
    height: 47%;
    width: 100%;
    background-color: blue;
}

.rightdown{
    height: 47%;
    width: 100%;
    background-color: blue;
}

.middletext{
    height: 15%;
    width: 90%;
    /* background-color: #666666; */
    margin: auto;
    background-color: white;
}

.middletext h4{
    font-size: 20px;
    font-weight: 600;
    padding: 25px 0px;
    background-color: white;
}

.middlebox{
    height: 79%;
    width: 90%;
    margin: auto;
    border: 1px solid lightgrey;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
}


.middlebox > .mbox1 > img{
    border-radius: 100%;
    height: 100px;
}

.mbox1 , .mbox2{
    height: 48%;
    width: 100%;
    /* background-color: red; */
    background-color: white;
}

.mbox2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
}

.mbox2 div{
    background-color: white;
}

.middlebox span h4{
    font-size: 20px;
    font-weight: 400;
    background-color: white;
}


.middlebox div p{
    font-size: 16px;
    font-weight: 400;
    background-color: white;
}

.middlebox .btn button{
    padding: 10px 30px;
    background-color: #f9c982;
    border: none;
    border-radius: 20px;
}

.btn button span a{
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    background: none;
    background-color: #f9c982;
    
}

.secondmiddle{
    height: 20vh;
    width: 100%;
    margin-top: 20px;
    background-color: white;
    border: 1px solid lightgrey;
}

.ls , .mdicon{
    height: 50%;
    width: 100%;
    background-color: white;
}

.secondmiddle .ls span img{
    height: 80%;
    margin: 10px auto;
    background-color: white;
}

.secondmiddle .ls .ser input{
    width: 100%;
    height: 80%;
    margin: 10px auto;
    border-radius: 20px;
    background: none;
    border: 1px solid lightgrey;
    outline: none;
    background-color: white;
}
.secondmiddle .ls .ser input::placeholder{
    padding: 20px 20px;
    font-size: 14px;
    font-weight: 600;
    color: black;
}


.ls .sep{
    width: 20px;
    height: 100%;
    background-color: white;
}

.ls .ser{
    width: 75%;
    height: 100%;
}

.ls{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mdcon1 , .mdcon2 , .mdcon3{
    width: 100px;
    height: 60%;
    margin: auto;
    background: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    text-align: center;
}

.mdcon1:hover{
    background-color: lightgrey;
    transition: 0.5s;
}

.mdicon{
    display: flex;
    justify-content: space-around;
    background: none;
}

.mdcon1 span{
    font-size: 14px;
    font-weight: 600;
    color: #767676;
    background: none;
}

.mdcon1 .mdconmg img{
    height: 30px;
    background-color: white;
}
.mdconmg{
    background: none;
}

.thirdmiddle{
    height: 0.5vh;
    width: 100%;
    background: none;
    margin: 20px auto;
    /* background-color: red; */
}

.frthmid{
    height: 80vh;
    width: 100%;
    background-color: rgb(67, 0, 0);
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.frt1{
    height: 11%;
    width: 100%;
   background-color: white;
    display: flex;
    justify-content: space-between;
}
.frt2{
    height: 10%;
    width: 100%;
    background-color: white;
}

.frt2 span{
    font-size: 14px;
    font-weight: 400;
}
.frt3{
    height: 49%;
    width: 100%;
    background-color: #fc1111;
    overflow: hidden;
}
.frt4{
    height: 12%;
    width: 100%;
    background-color: #edf3f8;
    display: flex;
    justify-content: space-around;
}

.frt4text{
    width: 70%;
    height: 98%;
    margin: auto;
    /* background-color: #f9c982; */
}
.frt4btn{
    width:28%;
    height: 98%;
    margin: auto;
    /* background-color: #e88b00; */
}

.frt4btn button{
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    background-color: #edf3f8;
    border: 1px solid blue;
    margin: 15px 30px;
}

.frt4btn button a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

.frt4text span{
    font-size: 14px;
    font-weight: 400;
}
/* .frt4text p{
    font-size: 14px;
    font-weight: 400;
    padding: 6px 0px;
    color: #787b7d;
} */

.frt4text p a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 0px;
    color: #787b7d;
}

.frt5{
    height: 11%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.frt5 .smallfrt5{
    height: 35px;
    width: 100px;
    margin: auto;
    padding: auto;
    /* background-color: red; */
}

.smallfrt5 p{
   text-align: center;
   align-items: center;
   padding-top: 5px;
}

.frt5 .smallfrt5:hover{
    background-color: lightgrey;
    transition: 0.5s;
}

.frt6{
    height: 7%;
    width: 100%;
    background-color: #f2f2f2;
}

.frt6 p{
    font-size: 12px;
    font-weight: 400;
    padding: 10px 0px;

}

.frt3 img{
    height: fit-content;
    width: fit-content;
}

.frt1 .logofed{
    width: 28%;
    display: flex;
    justify-content: space-around;
    margin: 0px 10px;
}

.frt1 .feedmenu{
    width: 7%;
}

.logofed img{
    height: 50px;
    margin: 7px auto;

}

/* .sidelogofeed{
    text-align: justify;
    float: right;
    padding: 0px;
    
} */

.sideimg{
    width: 40%;
    height: 100%;
}

.sidelogofeed{
    width: 60%;
    height: 100%;
}

.sidelogofeed span{
    padding: 0px 0px;
}

.sidelogofeed #lh{
    font-size: 14px;
    font-weight: 600;
    color: #191919;
}
.sidelogofeed #fol{
    font-size: 12px;
    font-weight: 400;
    color: #6b6b6b
}
.sidelogofeed #prt{
    font-size: 12px;
    font-weight: 400;
    color: #6b6b6b;
}

