* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f2ee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    height: 60px;
    z-index: 1;
}

.container {
    width: 80%;
    background-color: white;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.searchlogo img {
    height: 50px;
    background-color: white;
}

.searchlogo input {
    padding: 10px 70px;
    border: none;
    outline: none;
    background: none;
    background-color: #edf3f8;

}

.search {
    background-color: #edf3f8;
    align-items: center;
    position: relative;
}

.search i {
    background-color: #edf3f8;
}

.input_dropdown {
    position: absolute;
    background: none;
    width: 350px;
    display: none;
    left: 0;
    top: 30px;
    /* border-radius: 0px 0px 10px 10px; */
    margin-top: 15px;
    height: fit-content;
    border: 1px solid #0c66c2;
    box-shadow: 3px 5px #0c66c2;
}

.search:focus-within .input_dropdown {
    display: initial;
}

.input_dropdown .text {
    font-size: 16px;
    font-weight: 400;
    color: #000000;

}

.input_dropdown p:hover {
    background-color: lightgrey;
    transition: .6s;
}

.input_dropdown #history {
    font-size: 12px;
}

.input_dropdown p {
    padding: 5px 0px;
    background: none;
}

.search:focus-within {
    text-align: left;
}

.search input::placeholder{
    text-align: left;
    font-size: 12px;

}


.search span {
    font-size: 20px;
    color: grey;
    background: none;
    padding: 0px 20px;
}


.searchlogo span {
    background: none;
}

.searchlogo {
    align-items: center;
    /* background-color: green; */
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: left;
    background-color: white;
}

.icon {
    /* background-color: blueviolet; */
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.iconlist {
    align-items: center;
    text-align: center;
    width: 70px;
    height: fit-content;
    margin-top: 10px;
    /* background-color: red; */
    background-color: white;
}

.iconlist p {
    font-size: 12px;
    font-weight: 400;
    background-color: white;
}
/* for network */

.iconlistpm {
    align-items: center;
    text-align: center;
    width: 70px;
    height: fit-content;
    margin-top: 10px;
    /* background-color: red; */
    background-color: white;
}

.icon2>.iconlistpm {
    width: 95px;
    background-color: white;
}

.iconlistpm .ads {
    font-size: 12px;
    font-weight: 400;
}

.iconlistpm span {
    background-color: white;
}

.iconlistpm .ads a {
    color: #915906;
    background-color: white;
}

.iconlistpm a:hover {
    color: black;
    cursor: pointer;
}

.iconlistpm a {
    text-decoration: none;
    color: #000000;
    background-color: white;
    font-weight: 600;
}

.iconlistpm i {
    background-color: white;
}


.iconlistpm p {
    font-size: 12px;
    font-weight: 400;
    background-color: white;
}

/* end of for network */

.icon1 {
    width: 68%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    /* background-color: blue; */
}

.icon2 {
    /* background-color: chocolate; */
    width: 30%;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.icon2>.iconlist {
    width: 95px;
    background-color: white;
}

.iconlist .ads {
    font-size: 12px;
    font-weight: 400;
}

.iconlist span {
    background-color: white;
}

.iconlist .ads a {
    color: #915906;
    background-color: white;
}

.iconlist a:hover {
    color: black;
    cursor: pointer;
}

.iconlist a {
    text-decoration: none;
    color: #666666;
    background-color: white;
}

.iconlist i {
    background-color: white;
}


/* end of navbar */

/* middlebbutton */
.middleside1B{
    height: 90%;
    width: 100%;
    padding: 10px;
    color: rgb(97, 21, 172);
    margin: auto;
    text-align: left;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
  
.middleside1B button{
    width: fit-content;
    padding: 0px 10px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid #0c66c2;
    margin: 3px 3px;
    background-color: white;

}

.middleside1B button:hover{
    background-color: 
    RGBA(112, 181, 249, 0.235);
}

.middleside1B button i{
    background: none;
    font-size: 14px;
}

.middleside1B button a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #0c66c2;
    background: none;
}


/* middlebbutton */

/* leftdropdown */

#leftdrpmenu {
    position: relative;
}
.leftdrop{
    height: 95vh;
    width: 350px;
   margin-top: 10px;
    background-color: white;
    border: 1px solid lightgrey;
    position: absolute;
    transform: translateX(350px);
    /* right: 0; */
    transition: all 1s;
    border-radius: 10px;
    overflow: auto;
    
    
}

#leftdrpmenu:focus-within .leftdrop{
    transform: translateX(-25px);
}

.leftdrop1{
    height: 10vh;
    width: 100%;
    border-bottom: 1px solid black;
    background: none;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    position: static;
}

.leftdrop1 span{
    background: none;
}


.leftdrop1 span h1{
    background: none;
}

.leftdrop2{
    width: 90%;
    height: 35vh;
    margin: 20px auto;
    border: 1px solid lightgrey;
    background: none;
    border-radius: 10px;
}

.leftdrop2A{
    height: 7vh;
    border-bottom: 1px solid lightgrey;
    background: none;
}

.leftdrop2A h1{
    background: none;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    padding: 15px 20px;
}

.leftdropbox{
    background: none;
    width: 100%;
    height: 28vh ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    float: left;
}

.dropboxsmall{
    background: none;
    text-align: center;
    text-wrap: wrap;
    width: 25%;
    height: fit-content;
    transition: all .5s;
}

.dropboxsmall img{
    width: 75px ;
    height: 70px ;
    background: none;
}

.dropboxsmall p{
    font-size: 12px;
    font-weight: 400;
    color: #797979;
    background: none;
}

.dropboxsmall:hover{
    box-shadow: 1px 1px 2px 2px #0c66c2;
    transform: scale(0.9);
   
}

.leftdrop3{
    height: 50vh;
    width: 90%;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgrey;
    margin-bottom: 50px;
}

.leftdrop3A{
    background: none;
    border-bottom: 1px solid lightgrey;
    height: 50px;
    text-align: left;
    padding: 10px 10px;
}


.leftdrop3A span{
    background: none;
}

.leftdrop3A span h1{
    background: none;
    font-size: 20px;
    font-weight: 400;
}

.leftdrop3content{
    background: none;
    height: 50px;
    text-align: left;
    padding: 5px 10px;
}

.leftdrop3content a h1{
    background: none;
    color: #000000;
    font-size: 16px;
}

.leftdrop3content a p{
    font-size: 14px;
}

.leftdrop3content a:hover{
    text-decoration: underline;
}










/* endofleftdropdown */

.pagecontainer{
    width: 80%;
    height: fit-content;
    background: none;
    padding: 10px 0px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.rightbox{
    height: fit-content;
    width: 70%;
    background: none;
    margin-top: 20px;
    border-radius: 10px;
    padding: 0px 0px;
    position: relative;
    border-radius: 10px;
}

.rightA{
    height: 70vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}
.rightA1{
    height: 30%;
    width: 100%;
    background-color: #bfd3d6;
    background-image: url(head19.jpeg);
    border-radius: 0px 0px 0px 0px;
}

.rightA2{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: none;
}

.rightA21{
    width: 100%;
    height: 70%;
    background: none;
    display: flex;
}
.rightA22{
    width: 100%;
    height: 30%;
    background: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rightA22boxa{
    height: 70%;
    width: 45%;
    background-color: #dde7f1;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px 10px;
}

.rightA22boxb{
    height: 70%;
    width: 45%;
    background: none;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px 10px;
}

.rightA22boxa h2{
    font-size: 16px;
    font-weight: 600;
    background: none;
}

.rightA22boxa p{
    font-size: 14px;
    font-weight: 400;
    background: none;
}


.rightA22boxa a{
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #0c66c2;
    background: none;
}

.rightA22boxa a:hover{
    text-decoration: underline;
}

.rightA22boxb a:hover{
    text-decoration: underline;
}

.rightA22boxb h2{
    font-size: 16px;
    font-weight: 600;
    background: none;
}

.rightA22boxb p{
    font-size: 14px;
    font-weight: 400;
    background: none;
}


.rightA22boxb a{
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #0c66c2;
    background: none;

}










.rightA img{
    height: 150px;
    border-radius: 100px;
    border: 4px solid white;
}

.rightA1 #senmg{
    position: absolute;
    top: 100px;
    right: 0;
    left: 50px;

}

.a21a{
    width: 50%;
    height: 70%;
    background: none;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 25px 20px;
}


.a21b{
    width: 50%;
    height: 70%;
    background: none;
    margin-top: 75px;
}

.A21Ba img{
    height: 50px;
}

.A21Ba{
    display: flex;
    align-items: center;
    gap: 10px;
    background: none;
    padding: 0px 30px;
}

.A21Ba span{
    background: none;
}

.A21Ba span a{
    text-decoration: none;
    background: none;
    color: #000000;
    font-family: 600;
}






.rightbox1 span button{
 width: 120px;
 height: 30px;
 border: 1px solid #0c66c2;
 color: #0c66c2;
 border-radius: 20px;
 background: none;
 
}

.rightbox1 span button:hover{
    background-color: #6a9fd762;
}

.rightbox1 span button a{
    text-decoration: none;
    color: #0c66c2;;
    font-weight: 600;
    background: none;
}

.rightbox1 span button a i{
    background: none;
}


.rightbox1{
    display: flex;
    gap: 20px;
    background: none;
}
.rightbox2 p{
    font-size: 16px;
    font-weight: 400;
    background: none;
}

.rightbox2{
    background: none;
}

.rightbox3{
    display: flex;
    gap: 10px;
    background: none;
}


.rightbox3 span{
    background: none;

}

.rightbox3 span a{
    text-decoration: none;
    color: #0c66c2;
    font-weight: 600;
    font-size: 14px;
    background: none;
    
}


.rightbox3 p{
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    background: none;
}

.rightbox4{
    display: flex;
   justify-content: space-around;
   background: none;
}

.rightbox4 span{
    background: none;
}

.rightbox4 #box4a button{
    width: 80px;
    background-color: #0c66c2;
    border: 1px solid #0c66c2;
    height: 30px;
    border-radius: 20px;
}

.rightbox4 #box4a button a{
    background: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}


.rightbox4 #box4b button{
    width: 160px;
    background: none;
    border: 1px solid #0c66c2;
    height: 30px;
    border-radius: 20px;
}

.rightbox4 #box4b button:hover{
    background-color: #6a9fd762;
}

.rightbox4 #box4c button:hover{
    background-color: lightgrey;
}

.rightbox4 #box4b button a{
    background: none;
    font-size: 16px;
    font-weight: 600;
    color: #0c66c2;
    text-decoration: none;
}


.rightbox4 #box4c button{
    width: 80px;
    background: none;
    border: 1px solid #666666;
    height: 30px;
    border-radius: 20px;
}

.rightbox4 #box4c button a{
    background: none;
    font-size: 16px;
    font-weight: 600;
    color: #666666;
    text-decoration: none;
}

.rightbox1 h1{
    background: none;
}

.rightbox1 span{
    background: none;
}


































.leftbox{
    height: fit-content;
    width: 25%;
    background: none;
    margin-top: 20px;
    border-radius: 10px;
}

.left1{
    width: 100%;
    height: 30vh;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    border: 1px solid lightgrey;
}

.left1A{
    width: 100%;
    height: 50%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    padding: 20px 5px;
    background: none;
}
.left1B{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    padding: 20px 5px;
    background: none;
}

.left1A h1{
    font-size: 22px;
    font-weight: 600;
    background: none;
}

.left1A p{
    font-size: 14px;
    font-weight: 400;
    color: #828282;
    background: none;
}

.left1B h1{
    font-size: 22px;
    font-weight: 600;
    background: none;
}

.left1B p{
    font-size: 14px;
    font-weight: 400;
    color: #828282;
    background: none;
}

.left1A span{
    background: none;
}

.left1B span{
    background: none;
}

.Left1Acon{
    background: none;
}

.Left1Acon i{
    background: none;
}


.left2 {
    width: 100%;
    height: 30vh;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    padding: 0px 10px;
    border: 1px solid lightgrey;
}

.left2A{
    width: 100%;
    height: 65%;
    /* border-bottom: 1px solid lightgrey; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: none;
}


.left2A p{
    font-size: 13px;
    font-family: 600;
    color: #999999;
    background: none;
}
.left2B{
    width: 100%;
    height: 35%;
    /* border-bottom: 1px solid lightgrey; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: none;
}

.left2A span img{
    height: 60px;
    background: none;
}

.left2B p{
    font-size: 13px;
    font-family: 600;
    background: none;
}

.left2B span button{
    height: 30px;
    width: 150px;
    border-radius: 20px;
    border: 1px solid #0c66c2;
    background: none;
}

.left2B span button a{
    text-decoration: none;
    color: #0c66c2;
    font-size: 16px;
    font-family: 900;
    background: none;
}


.left2A span #lmga{
    border-radius: 100px;
    background: none;
}

.left2A span #lmgb{
    border-radius: 20px;
    background: none;
}

.left2B span{
    background: none;
}
.left2A span{
    background: none;
}

.left2B span button{
    background: none;
}

.left2B span button a{
    background: none;
}



.left3{
    height: 72vh;
    width: 100% ;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    padding: 0px 10px;
    border: 1px solid lightgrey;
}

.left3top{
    height: 50px;
    width: 100%;
    padding: 10px;
    background: none;
}
.left3top p{
    font-size: 16px;
    font-family: 600;
    background: none;
}


.left3content{
    background: none;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border-bottom: 1px solid lightgrey; */
    /* border-radius: 10px; */
}

.contentA{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background: none;

}
.contentB{
    height: 30%;
    width: 100%;
   text-align: center;
   background: none;
}

.tentimg img{
    height: 70px;
    border-radius: 100px;
    background: none;
}

.contentB button{
    width: 120px;
    height: 35px;
    border: 1px soild #6f6f6f;
    border-radius: 20px;
    background: none;
    color: #6f6f6f;
}

.contentB button span{
    font-size: 16px;
    font-weight: 400;
    color: #6f6f6f;
    background: none;
}

.tenttext h1{
    font-size: 20px;
    font-weight: bolder;
    background: none;
}

.tenttext{
    background: none;
}

.tenttext p{
    background: none;
}

.tentimg{
    background: none;
}

.contentB a{
    background: none;
}

.contentB button i{
    background: none;
}

.contentB button:hover{
    background-color: lightgrey;
}

.left4{
    height: fit-content;
    width: 100% ;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    padding: 0px 10px;
    border: 1px solid lightgrey;
}

.left4 h4{
    font-size: 12px;
    background: none;
    color: #717171;
}

hr{
    width: 95%;
    margin: auto;
    height: 1px;
}

.left5{
    height: 100vh;
    width: 100% ;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    padding: 0px 10px;
}


.rightB {
    height: 30vh;
    width: 100%;
    background-color: white;
    margin-top: 15px;
    border: 1px solid lightgrey;
    border-radius: 20px;
    padding: 10px 15px;
}

.rightB1{
    height: 30%;
    width: 100%;
    background: none;
    display: flex;
    justify-content: space-between;
    
}

.rightBcon{
    display: flex;
    gap: 20px;
    background: none;
}

.rightB1 span{
    background: none;
}

.rightB1 span h1{
    background: none;
    font-size: 20px;
    font-weight: 600;
}

.rightBcon{
    background: none;
}

.rightBcon i{
    color: #666666;
    font-size: 26px;
    font-weight: 600;
    background: none;
}

.rightB2{
    background: none;
    display: flex;
    gap: 20px;
}

.rightB2 img{
    height: 60px;
    background: none;
}

.rightB2 h1{
    font-size: 20px;
    font-weight: 600;
    background: none;
}

.rightB2 p{
    font-size: 14px;
    font-weight: 400;
    color: #343434;
    background: none;
}

.rightB2 div{
    background: none;
}

.rightB3{
    background: none;
    padding: 5px 100px;
    display: flex;
    gap: 10px;
}

.rightB3 i{
    background: none;
}

.rightB3 span{
    background: none;
}

.rightB3 span a{
    background: none;
    text-decoration: none;
    color: #000000;
}

.rightB3 span a:hover{
color: #0c66c2;
text-decoration: underline;
}
